@charset "UTF-8";

@font-face {
  font-family: 'mp_links_icons';
  src: url("../fonts/fontello/mp_links.eot?8802042");
  src: url("../fonts/fontello/mp_links.eot?8802042#iefix") format('embedded-opentype'), url("../fonts/fontello/mp_links.woff?8802042") format('woff'), url("../fonts/fontello/mp_links.ttf?8802042") format('truetype'), url("../fonts/fontello/mp_links.svg?8802042#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?8802042#fontello') format('svg');
  }
}
*/
[class^="mp-links"]:before,
[class*=" mp-links"]:before,
.mp-links-c-youtube:before {
  font-family: 'mp_links_icons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 1px 1 rgba(0,0,0,0.01);
/* opacity .8 */
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.mp-links-youtube:before { content: '\E800'; } /* '⎉' */
.mp-links-c-youtube:before { content: '\E800'; } /* '⎉' */

.mp-links-email:before { content: '\E802'; } /* '⎉' */

.mp-links-rss:before { content: '\E803'; } /* '⎉' */

.mp-links-github:before { content: '\E808'; } /* '⎉' */
.mp-links-c-github:before { content: '\E809'; } /* '⎉' */

.mp-links-flickr:before { content: '\E80A'; } /* '⎉' */
.mp-links-c-flickr:before { content: '\E80B'; } /* '⎉' */

.mp-links-vimeo:before { content: '\E80C'; } /* '⎉' */
.mp-links-c-vimeo:before { content: '\E80D'; } /* '⎉' */

.mp-links-c-twitter:before { content: '\E80F'; } /* '⎉' */
.mp-links-twitter:before { content: '\E80E'; } /* '⎉' */

.mp-links-c-facebook:before { content: '\E811'; } /* '⎉' */
.mp-links-facebook:before { content: '\E810'; } /* '⎉' */

.mp-links-c-googleplus:before { content: '\E813'; } /* '⎉' */
.mp-links-googleplus:before { content: '\E814'; } /* '⎉' */

.mp-links-c-pinterest:before { content: '\E815'; } /* '⎉' */
.mp-links-pinterest:before { content: '\E816'; } /* '⎉' */

.mp-links-c-tumblr:before { content: '\E817'; } /* '⎉' */
.mp-links-tumblr:before { content: '\E818'; } /* '⎉' */

.mp-links-c-linkedin:before { content: '\E819'; } /* '⎉' */
.mp-links-linkedin:before { content: '\E81A'; } /* '⎉' */

.mp-links-c-dribbble:before { content: '\E81B'; } /* '⎉' */
.mp-links-dribbble:before { content: '\E81C'; } /* '⎉' */

.mp-links-c-stumbleupon:before { content: '\E81D'; } /* '⎉' */
.mp-links-stumbleupon:before { content: '\E81E'; } /* '⎉' */

.mp-links-c-lastfm:before { content: '\E81F'; } /* '⎉' */
.mp-links-lastfm:before { content: '\E820'; } /* '⎉' */

.mp-links-c-rdio:before { content: '\E821'; } /* '⎉' */
.mp-links-rdio:before { content: '\E823'; } /* '⎉' */

.mp-links-c-spotify:before { content: '\E824'; } /* '⎉' */
.mp-links-spotify:before { content: '\E824'; } /* '⎉' */

.mp-links-instagram:before { content: '\E826'; } /* '⎉' */

.mp-links-dropbox:before { content: '\E827'; } /* '⎉' */

.mp-links-evernote:before { content: '\E828'; } /* '⎉' */

.mp-links-flattr:before { content: '\E829'; } /* '⎉' */

.mp-links-c-skype:before { content: '\E82A'; } /* '⎉' */
.mp-links-skype:before { content: '\E82B'; } /* '⎉' */

.mp-links-renren:before { content: '\E82C'; } /* '⎉' */

.mp-links-paypal:before { content: '\E830'; } /* '⎉' */

.mp-links-picasa:before { content: '\E831'; } /* '⎉' */

.mp-links-soundcloud:before { content: '\E832'; } /* '⎉' */

.mp-links-mixi:before { content: '\E833'; } /* '⎉' */

.mp-links-googlecircles:before { content: '\E835'; } /* '⎉' */

.mp-links-customicon:before { content: '\E804'; } /* '⎉' */
.mp-links-customicon{
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
}



